@import "../../../../../styles/variables.scss";

.how-we-work-steps {
  margin-top: 5rem;
  &__container {
  }

  &__h2 {
    font-size: 3rem;
    font-weight: 400;
    margin: 4.24rem 0 3.42rem 0;

    @include respond(desktop-small) {
      font-size: 4rem;
      margin: 11.24rem 0 7.42rem 0;
    }
  }

  &__ol {
    list-style: none;
  }

  &__li {
    position: relative;
    counter-increment: item;
    display: flex;
    padding: 3rem 0 3rem 0;
    &::before {
      margin-right: 2rem;
      content: counter(item, decimal-leading-zero);
      font-size: 3.72rem;
      color: rgba($color-black, 0.72);

      @include respond(tab-port) {
        margin-right: 5rem;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0.1rem;
      background-color: rgba($color-black, 0.42);
    }

    &__content-wrapper {
    }
  }

  &__title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.8rem;
    letter-spacing: 0.11rem;
    line-height: 1;
    margin-bottom: 1.42rem;
  }

  &__p {
    align-self: flex-start;
  }
}
