@import "../../../../../styles/variables.scss";

.how-we-work-custom {
  background-color: $color-grey-dark;
  padding: 5rem 0;
  &__container {
  }

  &__p {
    color: $color-white-dark;
    font-size: 2rem;
  }
}
