@font-face {
  font-family: "Cera Pro";
  src: url("../assets/fonts/Cera\ Pro\ Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../assets/fonts/Cera\ Pro\ Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url("../assets/fonts/Cera\ Pro\ Regular\ Italic.otf");
  font-weight: 500;
  font-style: italic;
}
