@import "./variables.scss";

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: Poppins, serif, sans-serif;
  font-size: 62.5%;
  color: $color-black;
  background-color: $color-white;
}

body {
  font-family: Cera Pro;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.24rem;
  letter-spacing: -0.05rem;
  word-spacing: 0.42rem;
}

p {
  color: $color-grey-text;
  font-size: 1.8rem;
  line-height: 3.2rem;
  // margin: 0 0 2.4rem;
  // // margin-bottom: 3rem;
  // text-indent: 2rem;

  // &:nth-last-of-type(1) {
  //   margin-bottom: 0;
  // }
}
