$color-primary: #ed6830;
$color-primary-light: #fb6f33;
$color-primary-dark: #df5e27;

$color-white: #f2eee9;
$color-white-dark: #dbdad9;

$color-grey-lightest: #c5c3c1;
$color-grey-light: #3a3a3b;
$color-grey: #343436;
$color-grey-dark: #26262c;

$color-black: #1c1b25;
$color-black-light: #1f1e29;
// $color-black: #29282e;
// $color-black: #1c1816;

$ease: cubic-bezier(0.165, 0.84, 0.44, 1);
