$color-primary: #ed6830;
$color-primary-light: #fb6f33;
$color-primary-dark: #df5e27;

// $color-white: #f2eee9;
$color-white: #f2f2f2;
// $color-white-dark: #dbdad9;
$color-white-dark: #d1d1d1;
$color-white-off: #e5e5e5;

$color-grey-lightest: #c5c3c1;
$color-grey-light: #3a3a3b;
$color-grey: #343436;
$color-grey-dark: #26262c;
$color-grey-text: #3f3f3f;
$color-grey-light-text: #717171;

$color-black: #1c1b25;
$color-black-light: #1f1e29;
// $color-black: #29282e;
// $color-black: #1c1816;

$ease: cubic-bezier(0.165, 0.84, 0.44, 1);

//Media Queries
@mixin respond($breakpoint) {
  //320px
  @if $breakpoint == phone-small {
    @media only screen and (min-width: 20em) {
      @content;
    }
  }

  //360px
  @if $breakpoint == phone {
    @media only screen and (min-width: 22.5em) {
      @content;
    }
  }

  //600px
  @if $breakpoint == tab-port {
    @media only screen and (min-width: 37.5em) {
      @content;
    }
  }

  //900px
  @if $breakpoint == tab-land {
    @media only screen and (min-width: 56.25em) {
      @content;
    }
  }

  //1200px
  @if $breakpoint == desktop-small {
    @media only screen and (min-width: 75em) {
      @content;
    }
  }

  @if $breakpoint == desktop-mid {
    @media only screen and (min-width: 87.5em) {
      @content;
    }
  }

  //1800px
  @if $breakpoint == desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }

  //2400px
  @if $breakpoint == desktop-large {
    @media only screen and (min-width: 150em) {
      @content;
    }
  }
}
