@import "../../../../../../styles/variables.scss";

.project-finishing-options {
  margin-bottom: 11rem;
  &__title {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.11rem;
    line-height: 1;
    font-size: 1.8rem;
    margin-bottom: 3.72rem;
    text-align: center;

    // @include respond(desktop-mid) {
    //   width: 27rem;
    //   text-align: left;
    //   margin-bottom: 0;
    // }
  }

  &__ul {
    list-style: none;
  }

  &__li-wrapper {
    display: flex;
    align-items: center;
  }

  &__li {
    display: flex;
    justify-content: center;

    &__text {
      margin-left: 2rem;
      color: $color-grey-text;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.04rem;
      font-size: 1.5rem;
    }
  }
}
