@import "../../../../styles/variables.scss";

.project {
  &__container {
  }

  &__carousel-wrapper {
    background-color: $color-white-off;
  }

  &__img-details {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    background-color: $color-white-off;

    @include respond(tab-land) {
      padding: 3.72rem 0;
    }

    @include respond(desktop-mid) {
      flex-direction: row;
      padding: 5rem 0;
    }
  }
}
