@import "../../../styles/variables.scss";

.navbar {
  position: fixed;
  height: 5rem;
  width: 100%;
  // padding: 0rem 5rem;
  display: flex;
  z-index: 10000;
  transition: all 0.42s $ease;

  @include respond(tab-port) {
    height: 6rem;
  }

  @include respond(desktop-small) {
    height: 8rem;
  }

  &--top {
    height: 8rem;
    transition: all 0.18s ease-in-out;

    @include respond(tab-port) {
      height: 9rem;
    }

    @include respond(desktop-small) {
      height: 11rem;
    }
  }

  &__background {
    background-color: $color-black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(0);
    transition: all 0.72s $ease;

    &--top {
      transform: translateY(-100%);
    }
  }

  &__container {
  }

  &__wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__home {
    display: flex;
    align-items: center;
  }

  &__logo {
    height: 2.72rem;
    z-index: 11000;

    @include respond(tab-port) {
      height: 3.24rem;
    }

    @include respond(desktop-small) {
      height: 3.72rem;
    }
  }

  &__line {
    position: absolute;
    width: 100%;
    left: 0;
    height: 1px;
    background-color: rgba($color-white, 0.24);
    bottom: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.42s $ease 0s;
    border-radius: 2rem;
    z-index: -1;

    &--top {
      transform: scaleX(1);
      transition: transform 0.72s $ease 0.72s;
    }
  }
}
