@import "../../../../../styles/variables.scss";

.project-contact {
  background-color: $color-black;
  padding: 7.72rem 0;

  &__container {
  }

  &__title {
    margin-bottom: 3.72rem;
    color: $color-white;
    font-weight: 500;
    text-align: center;
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  &__note-wrapper {
    width: 100%;

    @include respond(desktop-small) {
      width: 50%;
    }
  }
  &__form-wrapper {
    width: 100%;
    padding: 0 2rem;

    @include respond(tab-port) {
      padding: 0 4.42rem;
    }

    @include respond(tab-land) {
      padding: 7rem;
    }

    @include respond(desktop-small) {
      width: 50%;
      padding: 0 0rem;
    }

    @include respond(desktop-mid) {
      padding: 0 2rem;
    }

    @include respond(desktop) {
      padding: 0 4rem;
    }

    @include respond(desktop-large) {
      padding: 0 11rem;
    }
  }

  &__form {
    display: flex;
    flex-wrap: wrap;

    &__item {
      margin-bottom: 2.72rem;
    }

    &__input {
      width: 100%;
      border: 1px solid rgba($color-black, 0.42);
      background-color: rgba($color-white, 1);
    }

    &__select {
      //   display: block;
      width: 100%;
      //   box-sizing: content-box;
      //   height: 4.42rem;
      //   padding: 0 0.72rem;
      //   border: 1px solid rgba($color-black, 0.42);
    }

    &__option {
    }

    &__textarea {
      display: block;
      box-sizing: content-box;
      width: 100%;
      resize: vertical;
      min-height: 11rem;
      max-height: 24rem;
      border: 1px solid rgba($color-black, 0.42);
    }
  }
}
