@import "../../../../../styles/variables.scss";

.project-selection {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 5rem;
  background-color: $color-grey-dark;
  z-index: 999;

  @include respond(tab-port) {
    height: 6rem;
  }

  @include respond(desktop-small) {
    height: 8rem;
  }

  &__container {
    display: flex;
    align-items: center;
    // justify-content: center;
    height: 100%;
  }
  &__price {
    color: $color-white;
    font-size: 2rem;
    font-weight: 500;
  }
}
